{% extends 'shared/base.html' %} {% load static %} {% block content %}
<body>
    <div class="pagina-inicial">
        {% include 'partials/_header.html' %}
        <main class="principal">
            {% include 'partials/_side_menu.html' %}
            <section class="galeria" style="margin-left: 5em">
                <form action = "{% url 'cadastro' %}" method = "POST">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form.visible_fields %}
                        {% include 'usuarios/partials/_input.html' %}
                        {% for error in field.errors %}
                            <div class = "alert alert-primary">
                                {{ error }}
                            </div>
                        {% endfor %}
                        {% endfor %}
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success col-12" style="padding: top 5px;">Cadastrar</button>
                    </div>
                </form>
            </section>
        </main>
    </div>
</body>
{% endblock %}