{% extends 'shared/base.html' %} {% load static %} {% block content %}

<section class="galeria" style="margin-left: 5em">
    <form action="{% url 'nova_imagem' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for field in form.visible_fields %}
            {% include 'usuarios/partials/_input.html' %}
            {% endfor %}
        </div>
        <div>
            <button type="submit" class="btn btn-success col-12" style="padding: top 5px;">Adicionar imagem</button>
        </div>
    </form>
</section>

{% endblock %}